* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #282c34;
  position: absolute;
}

.App {
  width: 100%;
  float: center;
}
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  padding: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #78BCB5;
  text-align: left;
}

.intro {
font-size: 4vh;
}

.medium {
  font-size: 3vh;
}

.highlight {
  color: #C3B7F1;
}

#photo {
  max-width: 100vw;
  background-color: #2A2441;
  width: 100%;
  display: table;
}

.row {
  display: table-row;
  width: 100%;
}

.columnLeft {
  float: left;
  width: 30%;
  min-height: 500px;
  padding: 5px;
  position: relative;
}

.columnRight {
  float: left;
  padding-right: 5%;
  width: 70%;
  min-height: 500px;
  padding: 5px;
  position: relative;
}

img {
  padding: 10px;
  opacity: 0.8;
  border-radius: 5%;
  float: center;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#cailynJSON {
  color: #78BCB5;
  float: center;
  text-align: left;
  font-size: calc(12px + .1vw);
  
}

@media screen and (max-width: 1000px) {
  .columnLeft {
    width: 100%;
  }
  .columnRight {
    width: 100%;
  }
  img {
    border-radius: 50%;
    width: 50%;
  }
}
#mediaLinks {
  padding-top: 20px;
  text-align: center;
}
#mediaLinks a {
  padding: 10px;
}